In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('./krkopt.data')
data

       a  1  b  3  c  2     draw
0      a  1  c  1  c  2     draw
1      a  1  c  1  d  1     draw
2      a  1  c  1  d  2     draw
3      a  1  c  2  c  1     draw
4      a  1  c  2  c  3     draw
...   .. .. .. .. .. ..      ...
28050  b  1  g  7  e  5  sixteen
28051  b  1  g  7  e  6  sixteen
28052  b  1  g  7  e  7  sixteen
28053  b  1  g  7  f  5  sixteen
28054  b  1  g  7  g  5  sixteen

[28055 rows x 7 columns]

#### 将前6列数据中的字母“a、b、c、d、e、f、g、h”分别替换为数字“1、2、3、4、5、6、7、8”

In [3]:
data_6=data.iloc[:,:6]
data_6.replace(['a','b','c','d','e','f','g','h'],range(1,9),inplace=True)
data_6

       a  1  b  3  c  2
0      1  1  3  1  3  2
1      1  1  3  1  4  1
2      1  1  3  1  4  2
3      1  1  3  2  3  1
4      1  1  3  2  3  3
...   .. .. .. .. .. ..
28050  2  1  7  7  5  5
28051  2  1  7  7  5  6
28052  2  1  7  7  5  7
28053  2  1  7  7  6  5
28054  2  1  7  7  7  5

[28055 rows x 6 columns]

#### 对前6列数据进行标准差标准化

In [4]:
def StandardScale(data):
    return (data-data.mean())/data.std()

In [5]:
for column in data_6.columns:
    data_6[column]=StandardScale(data_6[column])

In [6]:
data_6

              a         1         b         3         c         2
0     -2.251361 -0.921871 -0.672667 -1.538699 -0.877141 -1.090518
1     -2.251361 -0.921871 -0.672667 -1.538699 -0.444294 -1.535283
2     -2.251361 -0.921871 -0.672667 -1.538699 -0.444294 -1.090518
3     -2.251361 -0.921871 -0.672667 -1.100630 -0.877141 -1.535283
4     -2.251361 -0.921871 -0.672667 -1.100630 -0.877141 -0.645753
...         ...       ...       ...       ...       ...       ...
28050 -1.184004 -0.921871  1.067900  1.089715 -0.011448  0.243776
28051 -1.184004 -0.921871  1.067900  1.089715 -0.011448  0.688541
28052 -1.184004 -0.921871  1.067900  1.089715 -0.011448  1.133306
28053 -1.184004 -0.921871  1.067900  1.089715  0.421398  0.243776
28054 -1.184004 -0.921871  1.067900  1.089715  0.854245  0.243776

[28055 rows x 6 columns]

#### 将最后一列数据中的“draw”替换为1，其他值替换为-1

In [7]:
data_7=data.iloc[:,-1]
data_7=data_7.apply(lambda x:1 if x=='draw' else -1)
data_7

0        1
1        1
2        1
3        1
4        1
        ..
28050   -1
28051   -1
28052   -1
28053   -1
28054   -1
Name: draw, Length: 28055, dtype: int64

In [8]:
# 将处理后的前六列和最后一列数据合并
data=pd.concat([data_6,data_7],axis=1)
data

              a         1         b         3         c         2  draw
0     -2.251361 -0.921871 -0.672667 -1.538699 -0.877141 -1.090518     1
1     -2.251361 -0.921871 -0.672667 -1.538699 -0.444294 -1.535283     1
2     -2.251361 -0.921871 -0.672667 -1.538699 -0.444294 -1.090518     1
3     -2.251361 -0.921871 -0.672667 -1.100630 -0.877141 -1.535283     1
4     -2.251361 -0.921871 -0.672667 -1.100630 -0.877141 -0.645753     1
...         ...       ...       ...       ...       ...       ...   ...
28050 -1.184004 -0.921871  1.067900  1.089715 -0.011448  0.243776    -1
28051 -1.184004 -0.921871  1.067900  1.089715 -0.011448  0.688541    -1
28052 -1.184004 -0.921871  1.067900  1.089715 -0.011448  1.133306    -1
28053 -1.184004 -0.921871  1.067900  1.089715  0.421398  0.243776    -1
28054 -1.184004 -0.921871  1.067900  1.089715  0.854245  0.243776    -1

[28055 rows x 7 columns]

#### 随机采样5000行数据

In [9]:
data.sample(5000)

              a         1         b         3         c         2  draw
19874  0.950711 -0.921871  1.067900  1.089715  0.421398 -1.090518    -1
6029   0.950711  1.236985 -0.672667 -1.538699  0.854245 -1.090518    -1
4547  -0.116647 -0.921871 -1.107809 -1.100630 -1.742833  0.688541    -1
8651  -1.184004  0.157557  0.632759 -0.662561 -0.444294 -1.535283    -1
26514 -1.184004 -0.921871  1.067900  0.213577 -1.309987  0.243776    -1
...         ...       ...       ...       ...       ...       ...   ...
5614  -0.116647  1.236985 -0.237525  0.213577  0.421398 -1.535283    -1
4594  -0.116647  0.157557 -1.542950 -0.662561  0.421398 -1.535283    -1
8529  -1.184004 -0.921871  1.067900 -0.224492 -0.444294 -1.535283    -1
12838  0.950711  1.236985  1.503042 -0.224492  0.854245  1.133306    -1
4690  -0.116647  1.236985  0.197617 -0.662561  0.421398 -1.535283    -1

[5000 rows x 7 columns]