In [1]:
import pandas as pd

In [2]:
sheet1=pd.read_excel('./超市营业额2.xlsx','Sheet1')
sheet2=pd.read_excel('./超市营业额2.xlsx','Sheet2')
sheet3=pd.read_excel('./超市营业额2.xlsx','Sheet3')

In [3]:
result=pd.merge(sheet1.append(sheet2),sheet3,on='工号')
result

       工号 姓名_x          日期           时段     交易额    柜台 姓名_y  职级
0    1001   张三  2019-03-01   9：00-14：00  1664.0   化妆品   张三  店长
1    1001   张三  2019-03-01  14：00-21：00  1442.0  蔬菜水果   张三  店长
2    1001   张三  2019-03-02   9：00-14：00  1530.0   化妆品   张三  店长
3    1001   张三  2019-03-03   9：00-14：00  1361.0   化妆品   张三  店长
4    1001   张三  2019-03-04   9：00-14：00  1216.0   化妆品   张三  店长
..    ...  ...         ...          ...     ...   ...  ...  ..
252  1006   钱八  2019-03-30  14：00-21：00  1090.0    食品   钱八  员工
253  1006   钱八  2019-03-31  14：00-21：00   812.0    食品   钱八  员工
254  1006   钱八  2019-04-01  14：00-21：00  1321.0   日用品   钱八  员工
255  1007   孙九  2019-04-01   9：00-14：00  1364.0  蔬菜水果   孙九  员工
256  1007   孙九  2019-04-01  14：00-21：00  1633.0  蔬菜水果   孙九  员工

[257 rows x 8 columns]