## 离散化处理

In [1]:
import pandas as pd
import numpy as np

In [2]:
sales=pd.read_excel('./超市营业额2.xlsx','Sheet1')
sales

       工号  姓名          日期           时段     交易额    柜台
0    1001  张三  2019-03-01   9：00-14：00  1664.0   化妆品
1    1002  李四  2019-03-01  14：00-21：00   954.0   化妆品
2    1003  王五  2019-03-01   9：00-14：00  1407.0    食品
3    1004  赵六  2019-03-01  14：00-21：00  1320.0    食品
4    1005  周七  2019-03-01   9：00-14：00   994.0   日用品
..    ...  ..         ...          ...     ...   ...
244  1002  李四  2019-03-31  14：00-21：00   859.0  蔬菜水果
245  1004  赵六  2019-03-31   9：00-14：00  1668.0   日用品
246  1004  赵六  2019-03-31  14：00-21：00  1722.0   日用品
247  1003  王五  2019-03-31   9：00-14：00  1274.0    食品
248  1006  钱八  2019-03-31  14：00-21：00   812.0    食品

[249 rows x 6 columns]

### 等宽法

In [5]:
c1=pd.cut(sales['交易额'],bins=5)
c1.value_counts()

(40.953, 2462.4]     244
(9690.6, 12100.0]      1
(7281.2, 9690.6]       1
(4871.8, 7281.2]       0
(2462.4, 4871.8]       0
Name: 交易额, dtype: int64

## 等频法

In [7]:
def samefreq(data,k):
    w=data.quantile(np.arange(0,1+1/k,1/k))
    print(w)
    return pd.cut(data,w)
samefreq(sales['交易额'],5).value_counts()

0.0       53.0
0.2      981.0
0.4     1145.0
0.6     1361.0
0.8     1581.0
1.0    12100.0
Name: 交易额, dtype: float64

(1581.0, 12100.0]    49
(1361.0, 1581.0]     49
(1145.0, 1361.0]     49
(981.0, 1145.0]      49
(53.0, 981.0]        49
Name: 交易额, dtype: int64

In [9]:
c2=pd.qcut(sales['交易额'],q=5)
c2.value_counts()

(52.999, 981.0]      50
(1581.0, 12100.0]    49
(1361.0, 1581.0]     49
(1145.0, 1361.0]     49
(981.0, 1145.0]      49
Name: 交易额, dtype: int64

## 随机抽样

In [12]:
sales.sample(10)

       工号  姓名          日期           时段     交易额    柜台
66   1004  赵六  2019-03-09   9：00-14：00  1683.0    食品
163  1006  钱八  2019-03-21   9：00-14：00   807.0  蔬菜水果
25   1002  李四  2019-03-04  14：00-21：00  1629.0   化妆品
224  1006  钱八  2019-03-28  14：00-21：00  1219.0    食品
229  1004  赵六  2019-03-29   9：00-14：00   910.0   日用品
121  1002  李四  2019-03-16   9：00-14：00  1788.0   日用品
222  1003  王五  2019-03-28  14：00-21：00  1210.0   日用品
56   1003  王五  2019-03-08   9：00-14：00  1184.0   化妆品
235  1005  周七  2019-03-30   9：00-14：00  1070.0  蔬菜水果
115  1003  王五  2019-03-15   9：00-14：00  1483.0    食品

In [15]:
sales.sample(frac=0.2).sort_index()

       工号  姓名          日期           时段     交易额    柜台
7    1001  张三  2019-03-01  14：00-21：00  1442.0  蔬菜水果
11   1004  赵六  2019-03-02  14：00-21：00   906.0    食品
19   1004  赵六  2019-03-03  14：00-21：00  1236.0    食品
25   1002  李四  2019-03-04  14：00-21：00  1629.0   化妆品
31   1005  周七  2019-03-04  14：00-21：00  1199.0  蔬菜水果
33   1002  李四  2019-03-05  14：00-21：00  1456.0   化妆品
35   1004  赵六  2019-03-05  14：00-21：00   974.0    食品
39   1001  张三  2019-03-05  14：00-21：00   856.0  蔬菜水果
42   1003  王五  2019-03-06   9：00-14：00  1200.0    食品
43   1004  赵六  2019-03-06  14：00-21：00  1245.0    食品
48   1003  王五  2019-03-07   9：00-14：00  1713.0   化妆品
50   1004  赵六  2019-03-07   9：00-14：00  1340.0    食品
58   1004  赵六  2019-03-08   9：00-14：00  1073.0    食品
71   1003  王五  2019-03-09  14：00-21：00  1670.0  蔬菜水果
73   1001  张三  2019-03-10  14：00-21：00  1040.0   化妆品
86   1003  王五  2019-03-11   9：00-14：00   801.0  蔬菜水果
93   1005  周七  2019-03-12  14：00-21：00  1317.0   化妆品
98   1003  王五  2019-03-13   9：00-14：00  1053.0    食品
100  1004  赵六  2019-03-13   9：00-14：00  1130.0   化妆品
102  1005  周七  2019-03-13   9：00-14：00  1047.0  蔬菜水果
106  1002  李四  2019-03-14  14：00-21：00   822.0   日用品
110  1005  周七  2019-03-14  14：00-21：00     NaN   化妆品
112  1001  张三  2019-03-14  14：00-21：00  1261.0  蔬菜水果
120  1001  张三  2019-03-15  14：00-21：00  1035.0  蔬菜水果
129  1002  李四  2019-03-17   9：00-14：00   828.0   日用品
135  1005  周七  2019-03-17   9：00-14：00  1022.0    食品
139  1003  王五  2019-03-18   9：00-14：00  1210.0  蔬菜水果
146  1003  王五  2019-03-19  14：00-21：00  1026.0   化妆品
172  1002  李四  2019-03-22  14：00-21：00   864.0  蔬菜水果
175  1006  钱八  2019-03-22   9：00-14：00  1503.0    食品
178  1001  张三  2019-03-23  14：00-21：00  1271.0   化妆品
184  1005  周七  2019-03-23  14：00-21：00  1523.0    食品
188  1002  李四  2019-03-24  14：00-21：00  1793.0  蔬菜水果
189  1003  王五  2019-03-24   9：00-14：00  1314.0   日用品
191  1002  李四  2019-03-24   9：00-14：00  1285.0    食品
192  1006  钱八  2019-03-24  14：00-21：00   966.0    食品
195  1005  周七  2019-03-25   9：00-14：00   865.0  蔬菜水果
196  1002  李四  2019-03-25  14：00-21：00  1647.0  蔬菜水果
197  1003  王五  2019-03-25   9：00-14：00   958.0   日用品
218  1001  张三  2019-03-28   9：00-14：00  1031.0   化妆品
220  1002  李四  2019-03-28  14：00-21：00  1070.0  蔬菜水果
221  1004  赵六  2019-03-28   9：00-14：00  1224.0   日用品
225  1001  张三  2019-03-29  14：00-21：00  1523.0   化妆品
228  1002  李四  2019-03-29  14：00-21：00  1063.0  蔬菜水果
231  1003  王五  2019-03-29   9：00-14：00  1404.0    食品
235  1005  周七  2019-03-30   9：00-14：00  1070.0  蔬菜水果
239  1003  王五  2019-03-30   9：00-14：00  1032.0    食品
241  1005  周七  2019-03-31  14：00-21：00  1321.0   化妆品
246  1004  赵六  2019-03-31  14：00-21：00  1722.0   日用品
247  1003  王五  2019-03-31   9：00-14：00  1274.0    食品

In [16]:
sales.sample(frac=0.2).sort_values(by='交易额')

       工号  姓名          日期           时段     交易额    柜台
194  1001  张三  2019-03-25  14：00-21：00   114.0   化妆品
55   1002  李四  2019-03-07  14：00-21：00   831.0  蔬菜水果
152  1001  张三  2019-03-19  14：00-21：00   844.0    食品
39   1001  张三  2019-03-05  14：00-21：00   856.0  蔬菜水果
193  1004  赵六  2019-03-25   9：00-14：00   860.0   化妆品
172  1002  李四  2019-03-22  14：00-21：00   864.0  蔬菜水果
164  1002  李四  2019-03-21  14：00-21：00   888.0  蔬菜水果
229  1004  赵六  2019-03-29   9：00-14：00   910.0   日用品
130  1003  王五  2019-03-17  14：00-21：00   912.0   日用品
118  1005  周七  2019-03-15  14：00-21：00   916.0   化妆品
141  1004  赵六  2019-03-18   9：00-14：00   952.0   日用品
197  1003  王五  2019-03-25   9：00-14：00   958.0   日用品
4    1005  周七  2019-03-01   9：00-14：00   994.0   日用品
125  1004  赵六  2019-03-16   9：00-14：00  1008.0   化妆品
109  1004  赵六  2019-03-14   9：00-14：00  1026.0   化妆品
60   1005  周七  2019-03-08   9：00-14：00  1029.0   日用品
218  1001  张三  2019-03-28   9：00-14：00  1031.0   化妆品
239  1003  王五  2019-03-30   9：00-14：00  1032.0    食品
157  1001  张三  2019-03-20   9：00-14：00  1037.0   日用品
67   1004  赵六  2019-03-09  14：00-21：00  1040.0    食品
243  1005  周七  2019-03-31   9：00-14：00  1044.0  蔬菜水果
237  1001  张三  2019-03-30   9：00-14：00  1086.0   日用品
70   1006  钱八  2019-03-09   9：00-14：00  1118.0  蔬菜水果
46   1006  钱八  2019-03-06   9：00-14：00  1162.0  蔬菜水果
200  1006  钱八  2019-03-25  14：00-21：00  1178.0    食品
56   1003  王五  2019-03-08   9：00-14：00  1184.0   化妆品
222  1003  王五  2019-03-28  14：00-21：00  1210.0   日用品
139  1003  王五  2019-03-18   9：00-14：00  1210.0  蔬菜水果
24   1001  张三  2019-03-04   9：00-14：00  1216.0   化妆品
242  1002  李四  2019-03-31   9：00-14：00  1274.0   化妆品
3    1004  赵六  2019-03-01  14：00-21：00  1320.0    食品
153  1002  李四  2019-03-20   9：00-14：00  1332.0   化妆品
133  1004  赵六  2019-03-17   9：00-14：00  1336.0   化妆品
9    1002  李四  2019-03-02  14：00-21：00  1395.0   化妆品
7    1001  张三  2019-03-01  14：00-21：00  1442.0  蔬菜水果
12   1005  周七  2019-03-02   9：00-14：00  1444.0   日用品
21   1006  钱八  2019-03-03  14：00-21：00  1457.0   日用品
145  1002  李四  2019-03-19   9：00-14：00  1459.0   化妆品
52   1005  周七  2019-03-07   9：00-14：00  1465.0   日用品
179  1006  钱八  2019-03-23   9：00-14：00  1496.0  蔬菜水果
123  1003  王五  2019-03-16   9：00-14：00  1498.0    食品
225  1001  张三  2019-03-29  14：00-21：00  1523.0   化妆品
161  1002  李四  2019-03-21   9：00-14：00  1528.0   化妆品
20   1005  周七  2019-03-03   9：00-14：00  1592.0   日用品
156  1002  李四  2019-03-20  14：00-21：00  1615.0  蔬菜水果
226  1002  李四  2019-03-29   9：00-14：00  1624.0   化妆品
85   1005  周七  2019-03-11  14：00-21：00  1633.0   化妆品
14   1002  李四  2019-03-02   9：00-14：00  1649.0  蔬菜水果
0    1001  张三  2019-03-01   9：00-14：00  1664.0   化妆品
34   1003  王五  2019-03-05   9：00-14：00  1687.0    食品

## 重采样

In [17]:
index=pd.date_range('1/1/2000',periods=9,freq='T')
index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00',
               '2000-01-01 00:04:00', '2000-01-01 00:05:00',
               '2000-01-01 00:06:00', '2000-01-01 00:07:00',
               '2000-01-01 00:08:00'],
              dtype='datetime64[ns]', freq='T')

In [18]:
series=pd.Series(range(9),index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [20]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [21]:
series.resample('3T',label='right').sum()

2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int64

In [22]:
series.resample('3T',label='left',closed='right').sum()

1999-12-31 23:57:00     0
2000-01-01 00:00:00     6
2000-01-01 00:03:00    15
2000-01-01 00:06:00    15
Freq: 3T, dtype: int64

In [24]:
series.resample('30s').ffill()

2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
2000-01-01 00:02:30    2
2000-01-01 00:03:00    3
2000-01-01 00:03:30    3
2000-01-01 00:04:00    4
2000-01-01 00:04:30    4
2000-01-01 00:05:00    5
2000-01-01 00:05:30    5
2000-01-01 00:06:00    6
2000-01-01 00:06:30    6
2000-01-01 00:07:00    7
2000-01-01 00:07:30    7
2000-01-01 00:08:00    8
Freq: 30S, dtype: int64

In [27]:
sales['日期']=pd.to_datetime(sales['日期'])

In [31]:
sales.resample(freq=)

       工号  姓名         日期           时段     交易额    柜台
0    1001  张三 2019-03-01   9：00-14：00  1664.0   化妆品
1    1002  李四 2019-03-01  14：00-21：00   954.0   化妆品
2    1003  王五 2019-03-01   9：00-14：00  1407.0    食品
3    1004  赵六 2019-03-01  14：00-21：00  1320.0    食品
4    1005  周七 2019-03-01   9：00-14：00   994.0   日用品
..    ...  ..        ...          ...     ...   ...
244  1002  李四 2019-03-31  14：00-21：00   859.0  蔬菜水果
245  1004  赵六 2019-03-31   9：00-14：00  1668.0   日用品
246  1004  赵六 2019-03-31  14：00-21：00  1722.0   日用品
247  1003  王五 2019-03-31   9：00-14：00  1274.0    食品
248  1006  钱八 2019-03-31  14：00-21：00   812.0    食品

[249 rows x 6 columns]