In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('F:\\onedrive\\HelloWorld\\lalala\\pandasTest\\meal_order_info.csv',encoding="GB18030")

In [3]:
data

,info_id,emp_id,number_consumers,mode,dining_table_id,dining_table_name,expenditure,dishes_count,accounts_payable,use_start_time,...,lock_time,cashier_id,pc_id,order_number,org_id,print_doc_bill_num,lock_table_info,order_status,phone,name
0,417,1442,4,NaN,1501,1022,165,5,165,2016/8/1 11:05:36,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
1,301,1095,3,NaN,1430,1031,321,6,321,2016/8/1 11:15:57,...,2016/8/1 11:31:55,NaN,NaN,NaN,328,NaN,NaN,1,18688880174,赵颖
2,413,1147,6,NaN,1488,1009,854,15,854,2016/8/1 12:42:52,...,2016/8/1 12:54:37,NaN,NaN,NaN,330,NaN,NaN,1,18688880276,徐毅凡
3,415,1166,4,NaN,1502,1023,466,10,466,2016/8/1 12:51:38,...,2016/8/1 13:08:20,NaN,NaN,NaN,330,NaN,NaN,1,18688880231,张大鹏
4,392,1094,10,NaN,1499,1020,704,24,704,2016/8/1 12:58:44,...,2016/8/1 13:07:16,NaN,NaN,NaN,330,NaN,NaN,1,18688880173,孙熙凯
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,641,1095,8,NaN,1492,1013,679,12,679,2016/8/31 21:23:48,...,2016/8/31 21:31:48,NaN,NaN,NaN,330,NaN,NaN,1,18688880307,李靖
941,672,1089,6,NaN,1489,1010,800,24,800,2016/8/31 21:24:12,...,2016/8/31 21:56:12,NaN,NaN,NaN,330,NaN,NaN,1,18688880305,莫言
942,692,1155,8,NaN,1492,1013,735,10,735,2016/8/31 21:25:18,...,2016/8/31 21:33:34,NaN,NaN,NaN,330,NaN,NaN,1,18688880327,习一冰
943,647,1094,4,NaN,1485,1006,262,9,262,2016/8/31 21:37:39,...,2016/8/31 21:55:39,NaN,NaN,NaN,330,NaN,NaN,1,18688880207,章春华
944,570,1113,8,NaN,1517,1038,589,13,589,2016/8/31 21:41:56,...,2016/8/31 21:32:56,NaN,NaN,NaN,330,NaN,NaN,1,18688880313,唐雅嘉

In [4]:
data.columns

Index(['info_id', 'emp_id', 'number_consumers', 'mode', 'dining_table_id',
       'dining_table_name', 'expenditure', 'dishes_count', 'accounts_payable',
       'use_start_time', 'check_closed', 'lock_time', 'cashier_id', 'pc_id',
       'order_number', 'org_id', 'print_doc_bill_num', 'lock_table_info',
       'order_status', 'phone', 'name'],
      dtype='object')

In [5]:
data['lock_time']

0       2016/8/1 11:11:46
1       2016/8/1 11:31:55
2       2016/8/1 12:54:37
3       2016/8/1 13:08:20
4       2016/8/1 13:07:16
              ...
940    2016/8/31 21:31:48
941    2016/8/31 21:56:12
942    2016/8/31 21:33:34
943    2016/8/31 21:55:39
944    2016/8/31 21:32:56
Name: lock_time, Length: 945, dtype: object

In [7]:
data['lock_time']=pd.to_datetime(data['lock_time'])

In [8]:
data

,info_id,emp_id,number_consumers,mode,dining_table_id,dining_table_name,expenditure,dishes_count,accounts_payable,use_start_time,...,lock_time,cashier_id,pc_id,order_number,org_id,print_doc_bill_num,lock_table_info,order_status,phone,name
0,417,1442,4,NaN,1501,1022,165,5,165,2016/8/1 11:05:36,...,2016-08-01 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
1,301,1095,3,NaN,1430,1031,321,6,321,2016/8/1 11:15:57,...,2016-08-01 11:31:55,NaN,NaN,NaN,328,NaN,NaN,1,18688880174,赵颖
2,413,1147,6,NaN,1488,1009,854,15,854,2016/8/1 12:42:52,...,2016-08-01 12:54:37,NaN,NaN,NaN,330,NaN,NaN,1,18688880276,徐毅凡
3,415,1166,4,NaN,1502,1023,466,10,466,2016/8/1 12:51:38,...,2016-08-01 13:08:20,NaN,NaN,NaN,330,NaN,NaN,1,18688880231,张大鹏
4,392,1094,10,NaN,1499,1020,704,24,704,2016/8/1 12:58:44,...,2016-08-01 13:07:16,NaN,NaN,NaN,330,NaN,NaN,1,18688880173,孙熙凯
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,641,1095,8,NaN,1492,1013,679,12,679,2016/8/31 21:23:48,...,2016-08-31 21:31:48,NaN,NaN,NaN,330,NaN,NaN,1,18688880307,李靖
941,672,1089,6,NaN,1489,1010,800,24,800,2016/8/31 21:24:12,...,2016-08-31 21:56:12,NaN,NaN,NaN,330,NaN,NaN,1,18688880305,莫言
942,692,1155,8,NaN,1492,1013,735,10,735,2016/8/31 21:25:18,...,2016-08-31 21:33:34,NaN,NaN,NaN,330,NaN,NaN,1,18688880327,习一冰
943,647,1094,4,NaN,1485,1006,262,9,262,2016/8/31 21:37:39,...,2016-08-31 21:55:39,NaN,NaN,NaN,330,NaN,NaN,1,18688880207,章春华
944,570,1113,8,NaN,1517,1038,589,13,589,2016/8/31 21:41:56,...,2016-08-31 21:32:56,NaN,NaN,NaN,330,NaN,NaN,1,18688880313,唐雅嘉

In [9]:
pd.Timedelta.min

Timedelta('-106752 days +00:12:43.145224')

In [11]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [12]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [14]:
pd.DatetimeIndex(data['use_start_time'])

DatetimeIndex(['2016-08-01 11:05:36', '2016-08-01 11:15:57',
               '2016-08-01 12:42:52', '2016-08-01 12:51:38',
               '2016-08-01 12:58:44', '2016-08-01 13:15:42',
               '2016-08-01 13:17:37', '2016-08-01 13:38:27',
               '2016-08-01 17:06:20', '2016-08-01 17:32:27',
               ...
               '2016-08-31 18:05:51', '2016-08-31 18:28:06',
               '2016-08-31 18:40:56', '2016-08-31 19:14:12',
               '2016-08-31 20:25:16', '2016-08-31 21:23:48',
               '2016-08-31 21:24:12', '2016-08-31 21:25:18',
               '2016-08-31 21:37:39', '2016-08-31 21:41:56'],
              dtype='datetime64[ns]', name='use_start_time', length=945, freq=None)

TypeError: __new__() got an unexpected keyword argument frep