In [2]:
import pandas as pd

In [4]:
data = pd.read_excel('./meal_order_detail.xlsx')

In [5]:
data

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016-08-01 11:05:36,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
1,2958,417,609957,NaN,NaN,蒙古烤羊腿\r\n\r\n\r\n,0,1,48,NaN,2016-08-01 11:07:07,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016-08-01 11:07:40,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-01 11:11:11,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016-08-01 11:11:30,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774,6750,774,610011,NaN,NaN,白饭/大碗,0,1,10,NaN,2016-08-10 21:56:24,NaN,NaN,NaN,0,NaN,NaN,caipu/601005.jpg,1138
2775,6742,774,609996,NaN,NaN,牛尾汤,0,1,40,NaN,2016-08-10 21:56:48,NaN,NaN,NaN,0,NaN,NaN,caipu/201006.jpg,1138
2776,6756,774,609949,NaN,NaN,意文柠檬汁,0,1,13,NaN,2016-08-10 22:01:52,NaN,NaN,NaN,0,NaN,NaN,caipu/404005.jpg,1138
2777,6763,774,610014,NaN,NaN,金玉良缘,0,1,30,NaN,2016-08-10 22:03:58,NaN,NaN,NaN,0,NaN,NaN,caipu/302003.jpg,1138
2778,6764,774,610017,NaN,NaN,酸辣藕丁,0,1,33,NaN,2016-08-10 22:04:30,NaN,NaN,NaN,0,NaN,NaN,caipu/302006.jpg,1138

In [11]:
data_gb=data[['order_id','counts','amounts']].groupby(by='order_id')

In [12]:
data_gb.count()

          counts  amounts
order_id
137            6        6
165           18       18
166            5        5
171            7        7
177            4        4
...          ...      ...
1309          13       13
1314          12       12
1317          18       18
1319           9        9
1323          15       15

[278 rows x 2 columns]

In [13]:
data_gb.sum()

          counts  amounts
order_id
137            9      194
165           21      953
166            7      241
171           10      254
177            4      137
...          ...      ...
1309          15      443
1314          12      508
1317          18     1210
1319           9      610
1323          15      764

[278 rows x 2 columns]

In [15]:
import numpy as np
data[['counts','amounts']].agg([np.sum,np.mean])

           counts        amounts
sum   3088.000000  125992.000000
mean     1.111191      45.337172

In [18]:
data[['counts','amounts']].agg({'counts':np.sum,'amounts':[np.sum,np.mean]})

      counts        amounts
mean     NaN      45.337172
sum   3088.0  125992.000000

In [20]:
data_gb.agg(np.sum)
data_gb.sum()

          counts  amounts
order_id
137            9      194
165           21      953
166            7      241
171           10      254
177            4      137
...          ...      ...
1309          15      443
1314          12      508
1317          18     1210
1319           9      610
1323          15      764

[278 rows x 2 columns]

In [22]:
data_gb.agg({'counts':np.sum,'amounts':[np.sum,np.mean]})

         counts amounts
            sum     sum       mean
order_id
137           9     194  32.333333
165          21     953  52.944444
166           7     241  48.200000
171          10     254  36.285714
177           4     137  34.250000
...         ...     ...        ...
1309         15     443  34.076923
1314         12     508  42.333333
1317         18    1210  67.222222
1319          9     610  67.777778
1323         15     764  50.933333

[278 rows x 3 columns]

In [23]:
data[['counts','amounts']].apply(np.sum)

counts       3088
amounts    125992
dtype: int64

In [24]:
data[['counts','amounts']].agg(np.sum)

counts       3088
amounts    125992
dtype: int64

In [25]:
data_gb.apply(np.sum)

          counts  amounts
order_id
137            9      194
165           21      953
166            7      241
171           10      254
177            4      137
...          ...      ...
1309          15      443
1314          12      508
1317          18     1210
1319           9      610
1323          15      764

[278 rows x 2 columns]

In [27]:
print(data[['counts','amounts']].transform(lambda x:x**2).head())
print(data[['counts','amounts']].head())

counts  amounts
0       1     2401
1       1     2304
2       1      900
3       1      625
4       1      169
   counts  amounts
0       1       49
1       1       48
2       1       30
3       1       25
4       1       13

In [29]:
data_gb.transform(lambda x:(x.mean()-x.max())/(x.max()-x.min()))

ZeroDivisionError: float division by zero