In [2]:
import pandas as pd
import numpy as np

In [3]:
dl={
    "城市":['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.0,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,120.0,145.5,101.6]
}

In [4]:
d=pd.DataFrame(dl,index=['c1','c2','c3','c4','c5'])

In [5]:
d

    城市     环比     同比     定基
c1  北京  101.5  120.7  121.4
c2  上海  101.2  127.3  127.8
c3  广州  101.3  119.4  120.0
c4  深圳  102.0  140.9  145.5
c5  沈阳  100.1  101.4  101.6

In [6]:
d.loc[:,'城市']

c1    北京
c2    上海
c3    广州
c4    深圳
c5    沈阳
Name: 城市, dtype: object

In [7]:
d.iloc[:,0]

c1    北京
c2    上海
c3    广州
c4    深圳
c5    沈阳
Name: 城市, dtype: object

In [8]:
d.loc['c2',:]

城市       上海
环比    101.2
同比    127.3
定基    127.8
Name: c2, dtype: object

In [9]:
d.iloc[1,:]

城市       上海
环比    101.2
同比    127.3
定基    127.8
Name: c2, dtype: object

In [11]:
d.iloc[1,2]

127.3