In [2]:
import pandas as pd

dic={

    "统计名称":["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],

    "日均最高气温(°C)":[5,8,13,20,25,28,30,30,26,20,13,7],

    "日均最低气温(°C)":[-5,-2,3,9,14,18,21,20,16,10,3,2],

    "平均降水总量(mm)":[21,29,46,70,101,34,56,140,85,49,29,17],

    "平均降水天数(天)":[2,3,4,5,7,9,10,8,5,4,2,2]

}

p=pd.DataFrame(dic,index=range(1,13))

p

   统计名称  日均最高气温(°C)  日均最低气温(°C)  平均降水总量(mm)  平均降水天数(天)
1    一月           5          -5          21          2
2    二月           8          -2          29          3
3    三月          13           3          46          4
4    四月          20           9          70          5
5    五月          25          14         101          7
6    六月          28          18          34          9
7    七月          30          21          56         10
8    八月          30          20         140          8
9    九月          26          16          85          5
10   十月          20          10          49          4
11  十一月          13           3          29          2
12  十二月           7           2          17          2

In [4]:
p.sort_index(ascending=False)

   统计名称  日均最高气温(°C)  日均最低气温(°C)  平均降水总量(mm)  平均降水天数(天)
12  十二月           7           2          17          2
11  十一月          13           3          29          2
10   十月          20          10          49          4
9    九月          26          16          85          5
8    八月          30          20         140          8
7    七月          30          21          56         10
6    六月          28          18          34          9
5    五月          25          14         101          7
4    四月          20           9          70          5
3    三月          13           3          46          4
2    二月           8          -2          29          3
1    一月           5          -5          21          2

In [5]:
p.sort_values('日均最高气温(°C)')

   统计名称  日均最高气温(°C)  日均最低气温(°C)  平均降水总量(mm)  平均降水天数(天)
1    一月           5          -5          21          2
12  十二月           7           2          17          2
2    二月           8          -2          29          3
3    三月          13           3          46          4
11  十一月          13           3          29          2
4    四月          20           9          70          5
10   十月          20          10          49          4
5    五月          25          14         101          7
9    九月          26          16          85          5
6    六月          28          18          34          9
7    七月          30          21          56         10
8    八月          30          20         140          8